@model CustomerManagementSystem.BLL.Models.LeadPool

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LeadPool</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Log_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Log_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lead_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lead_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source_Type_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source_Type_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lead_Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lead_Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assign_To_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assign_To_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assign_By_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assign_By_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Next_Action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Next_Action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Next_Action_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Next_Action_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Next_Action_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Next_Action_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status_Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status_Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Channel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Channel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_Datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_Datetime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
