@model CustomerManagementSystem.BLL.Models.SalesmenCategory

@{
    ViewBag.Title = "Edit";
}


<h1>SalesmenCategory</h1>
<br />
<div class="box box-danger">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-8 col-md-2">
                    <input type="submit" value="Update" class="btn btn-primary btn-block btn-flat" />

                </div>
                <div class="col-md-2">
                    <input type="button" onclick="window.location = '/salesmencategories/Index'" value="Back to list" class="btn btn-danger btn-block btn-flat" />
                </div>

            </div>
        </div>
        <br />
    }
</div>
