@model IEnumerable<CustomerManagementSystem.BLL.Models.City>

@{
    ViewBag.Title = "Index";
}
<div style="background-color: white;height:100%">
    <h2>Cities</h2>

    <p>
        <input type="button" onclick="window.location='/Cities/create'" value="Create" class="btn btn-success" />
    </p>
    <table class="table table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country.CountryName)
            </th>

            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.CountryName)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CityId }) |
                  
                    @Html.ActionLink("Delete", "Delete", new { id = item.CityId })
                </td>
            </tr>
        }

    </table>
</div>